<MudContainer MaxWidth="MaxWidth.Large" Class="footer">
    <MudGrid>
        <MudItem xs="12" sm="3">
            <MudText Typo="Typo.h6" Class="footer-title">GIỚI THIỆU</MudText>

            <MudList T="string" Class="footer-component">
                <MudListItem Class="footer-item">
                    <MudLink Color="Color.Dark" Href="#" Underline="Underline.None"> Về chúng tôi</MudLink>
                </MudListItem>
                <MudListItem Class="footer-item">
                    <MudLink Color="Color.Dark" Href="#" Underline="Underline.None"> Lĩnh vực hoạt động</MudLink>
                </MudListItem>
                <MudListItem Class="footer-item">
                    <MudLink Color="Color.Dark" Href="#" Underline="Underline.None"> Hỏi đáp</MudLink>
                </MudListItem>
                <MudListItem Class="footer-item">
                    <MudLink Color="Color.Dark" Href="#" Underline="Underline.None">Quy chế hoạt động</MudLink>
                </MudListItem>
                <MudListItem Class="footer-item">
                    <MudLink Color="Color.Dark" Href="#" Underline="Underline.None"> Tuyển dụng</MudLink>
                </MudListItem>
            </MudList>
        </MudItem>
        <MudItem xs="12" sm="3">
            <MudText Typo="Typo.h6" Class="footer-title">TRỢ GIÚP</MudText>
            <MudList T="string" Class="footer-component">
                <MudListItem Class="footer-item">
                    <MudLink Color="Color.Dark" Href="#" Underline="Underline.None">Hướng dẫn thanh toán</MudLink>
                </MudListItem>
                <MudListItem Class="footer-item">
                    <MudLink Color="Color.Dark" Href="#" Underline="Underline.None">Quy định đổi trả</MudLink>
                </MudListItem>
                <MudListItem Class="footer-item">
                    <MudLink Color="Color.Dark" Href="#" Underline="Underline.None"> Quy định thảo luận</MudLink>
                </MudListItem>
                <MudListItem Class="footer-item">
                    <MudLink Color="Color.Dark" Href="#" Underline="Underline.None"> Chính sách bảo mật</MudLink>
                </MudListItem>
                <MudListItem Class="footer-item">
                    <MudLink Color="Color.Dark" Href="#" Underline="Underline.None"> Chính sách bán hàng</MudLink>
                </MudListItem>
            </MudList>
        </MudItem>
        <MudItem xs="12" sm="3">
            <MudText Typo="Typo.h6" Class="footer-title">THÔNG TIN SHOP</MudText>
            <div class="mt-2">
                <MudText Class="footer-item">CoolSharp</MudText>
                <MudText Class="footer-item"> 123 Cầu Giấy, Hà Nội</MudText>
                <MudText Class="footer-item">cuongnpm116@gmail.com</MudText>
                <MudText Class="footer-item"> Phone: (+84) 972756511</MudText>
            </div>
        </MudItem>
        <MudItem xs="12" sm="3">
            <MudText Typo="Typo.h6" Class="footer-title">LIÊN HỆ</MudText>
            <div class="content-button">
                <MudIconButton Color="Color.Success" Icon="@Icons.Custom.Brands.Google" Variant="Variant.Filled" Size="Size.Medium" />
                <MudIconButton Color="Color.Success" Icon="@Icons.Custom.Brands.Facebook" Variant="Variant.Filled" Size="Size.Medium" />
                <MudIconButton Color="Color.Success" Icon="@Icons.Custom.Brands.YouTube" Variant="Variant.Filled" Size="Size.Medium" />
                <MudIconButton Color="Color.Success" Icon="@Icons.Custom.Brands.TikTok" Variant="Variant.Filled" Size="Size.Medium" />
            </div>
        </MudItem>
    </MudGrid>
</MudContainer>
<style>
    .footer {
        margin-top: 50px;
    }


    .footer-title {
        padding-bottom: 20px;
    }

    .footer-component {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .footer-item a {
        text-decoration: none;
        color: black;
    }

    .footer-item {
        padding: 5px 0;
    }

    .content-button {
        margin-top: 40px;
    }
</style>

